# CODEOWNERS
#
# Documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# Order is alphabetical for easier maintenance.
#
# Alankar Verma (alankar-verma)
# Chaganti Rajitha (chaganti-rajitha)
# Harsha Yalamanchili (harshaatdell)
# Karthik K (karthikk92)
# Niranjan N (niranjan-n1)
# Nitesh Rewatkar (nitesh3108)
# Rajendra Indukuri (rajendraindukuri)
# Rajshree Khare (khareRajshree)
# Samihan Deshmukh (samihan-dell)
# Santhosh Lakshmanan (santhoshatdell)
# Satya Narayana Konduri (satyakonduri)

# for all files
* @alankar-verma @chaganti-rajitha @harshaatdell @karthikk92 @niranjan-n1 @nitesh3108 @rajendraindukuri @khareRajshree @samihan-dell @santhoshatdell @satyakonduri
