# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Aron Suliman (AronAtDell)
# Sean Gallacher (gallacher)
# Bharath Sreekanth (bharathsreekanth)
# Alexander Hoppe (hoppea2)
# Don Khan (donatwork)
# Santhosh Lakshmanan (santhoshatdell)
# Harsha Yalamanchili (harshaatdell)
# Christian Coffield (ChristianAtDell)

# for all files:
* @AronAtDell @gallacher @bharathsreekanth @hoppea2 @donatwork @santhoshatdell @harshaatdell @ChristianAtDell
